extends ../../layouts/default.pug

include ../../mixins/filter-status.pug
include ../../mixins/search-form.pug
include ../../mixins/pagination-bar.pug
include ../../mixins/box-updates.pug

block main 

   h1(class="main-header mb-4")
      div(class="inner-title") Quản lý sản phẩm
      button(
         class="btn btn-primary" 
         button-trash=`/${prefixAdmin}/products/trash`
      ) Sản phẩm đã xoá


   .card.mb-3 
      .card-header Bộ lọc và Tìm kiếm
      .card-body 
         .row 
            .col-6
               +filter-status(filterStatusForFE)
            .col-6
               +search-form(keyword)


   .card.mb-3 
      .card-header Danh sách
      .card-body

         +box-updates(`/${prefixAdmin}/products/change-multi`)

         div(class="text-left mb-3")
            a(
               href=`/${prefixAdmin}/products/create`
               class="btn btn-outline-info"
            ) + Thêm mới

         div(class="mb-3" sort-bar)
            .row.align-items-center
               .col-5
                  select(
                     class="form-control"
                     name="sort"
                     select-sort
                  )
                     option(value="position-descending" option-default) Vị trí giảm dần
                     option(value="position-ascending") Vị trí tăng dần
                     option(value="price-descending") Giá giảm dần
                     option(value="price-ascending") Giá tăng dần
                     option(value="title-ascending") Tiêu đề A - Z
                     option(value="title-descending") Tiêu đề Z - A
               .col-6.pl-0
                  div(
                     class="text-warning element-hidden"
                     sort-clear
                  ) Xoá
         
         
         table.table.table-hover.table-sm
            thead
               tr
                  th 
                     label(for="checkALL-box")
                        input(name="checkAll" id="checkALL-box" type="checkbox")
                  th STT
                  th Hình ảnh
                  th Tên sản phẩm
                  th Giá
                  th Vị trí
                  th Trạng thái
                  th Hành động
            
            tbody
               each aProduct, index in listOfProducts
                  tr
                     td 
                        label(for=`checkItem-${index+1}`)
                           input(
                              onclick=`event.stopPropagation();`
                              name="checkItem"
                              id=`checkItem-${index+1}` 
                              type="checkbox" 
                              value=aProduct.id
                           )

                     td #{index+1}

                     td(onclick=`location.href='/${prefixAdmin}/products/detail/${aProduct.id}'`, style="cursor: pointer;")
                        img(
                           src=aProduct.thumbnail
                           alt=aProduct.title
                           width="80px"
                           height="auto"
                        )

                     td(onclick=`location.href='/${prefixAdmin}/products/detail/${aProduct.id}'`, style="cursor: pointer;") #{aProduct.title}
   
                     td(onclick=`location.href='/${prefixAdmin}/products/detail/${aProduct.id}'`, style="cursor: pointer;") #{aProduct.price}$

                     td(onclick=`location.href='/${prefixAdmin}/products/detail/${aProduct.id}'`, style="cursor: pointer;")
                        input(
                           onclick=`event.stopPropagation();`
                           link=`/${prefixAdmin}/products/change-position/${aProduct.id}`
                           type="number"
                           name="position"
                           value=aProduct.position
                           min="1"
                           style="width: 60px"
                        )

                     td(onclick=`location.href='/${prefixAdmin}/products/detail/${aProduct.id}'`, style="cursor: pointer;")
                        if(aProduct.status == "active")
                           button(
                              onclick=`event.stopPropagation();`
                              link=`/${prefixAdmin}/products/change-status/${aProduct.status}/${aProduct.id}`  
                              class="btn badge badge-success" 
                              button-change-status=""
                           ) Hoạt động
                        else
                           button(
                              onclick=`event.stopPropagation();`
                              link=`/${prefixAdmin}/products/change-status/${aProduct.status}/${aProduct.id}` 
                              class="btn badge badge-danger"
                              button-change-status=""
                           ) Dừng hoạt động 
                     
                     td(onclick=`location.href='/${prefixAdmin}/products/detail/${aProduct.id}'`, style="cursor: pointer;")
                        a(
                           onclick=`event.stopPropagation();`
                           class="btn btn-warning btn-sm mr-1"
                           href=`/${prefixAdmin}/products/edit/${aProduct.id}`
                        ) Sửa
                        button(
                           onclick=`event.stopPropagation();`
                           class="btn btn-danger btn-sm" 
                           button-delete-soft=`/${prefixAdmin}/products/delete/${aProduct.id}`
                        ) Xoá

   +pagination-bar(pagination)