extends ../../layouts/default.pug

include ../../mixins/pagination-bar.pug

block main
   //- h1 Trang các sản phẩm đã xóa

   h1 Sản phẩm đã xoá

   .card.mb-3 
   .card-header Danh sách
   .card-body

      table.table.table-hover.table-sm
         thead
            tr
               th 
                  input(name="checkAll" type="checkbox")
               th STT
               th Hình ảnh
               th Tên sản phẩm
               th Giá
               th Trạng thái
               th Hành động
         tbody
            each aProduct, index in listOfDeletedProducts
               tr 
                  td 
                     input(name="checkItem" type="checkbox" value=aProduct.id)
                  td #{index+1}
                  td
                     img(
                        src=aProduct.thumbnail
                        alt=aProduct.title
                        width="80px"
                        height="auto"
                     )
                  td #{aProduct.title}
                  td #{aProduct.price}$
                  td
                     if(aProduct.status == "active")
                        button(
                           link=`/${prefixAdmin}/products/change-status/${aProduct.status}/${aProduct.id}`  
                           class="badge badge-success" 
                           disabled 
                           button-change-status=""
                        ) Hoạt động
                     else
                        button(
                           link=`/${prefixAdmin}/products/change-status/${aProduct.status}/${aProduct.id}` 
                           class="badge badge-danger"
                           disabled
                           button-change-status=""
                        ) Dừng hoạt động 
                  td
                     button(
                        class="btn btn-primary btn-sm"
                        button-recover=`/${prefixAdmin}/products/recover/${aProduct.id}`
                     ) Khôi phục
                     button(
                        class="btn btn-danger btn-sm ml-1" 
                        button-delete-permanent=`/${prefixAdmin}/products/delete-permanent/${aProduct.id}`
                     ) Xoá vĩnh viễn


   +pagination-bar(pagination)