extends ../../layouts/default.pug

include ../../mixins/pagination-bar.pug

block main
   //- h1 Trang các nhóm quyền đã xóa

   h1 Nhóm quyền đã xoá

   .card.mb-3 
   .card-header Danh sách
   .card-body
      button(
         class="btn btn-secondary btn-sm mb-3 element-hidden"
         button-recover-many=`/${prefixAdmin}/roles/change-multi`
         value="recoverManyItems"
      ) Khôi phục
      
      button(
         class="btn btn-secondary btn-sm mb-3 ml-3 element-hidden"
         button-delete-many-permanent=`/${prefixAdmin}/roles/delete-many-permanent`
         value="deletePermanentManyItems"
      ) Xoá vĩnh viễn

      table.table.table-hover.table-sm
         thead
            tr
               th
                  label(for="checkALL-box")
                     input(name="checkAll" id="checkALL-box" type="checkbox")
               th(class="pl-0") STT
               th Nhóm quyền
               th Mô tả ngắn
               th Hành động

         tbody
            each aRole, index in listOfDeletedRoles
               tr 
                  td
                     label(for=`checkItem-${index+1}`)
                        input(
                           name="checkItem" 
                           id=`checkItem-${index+1}`  
                           type="checkbox" 
                           value=aRole.id
                        )
                  td(class="pl-0")
                     label(for=`checkItem-${index+1}`) #{index+1}
                  td #{aRole.title}
                  td #{aRole.description}
                  td
                     button(
                        class="btn btn-primary btn-sm"
                        button-recover=`/${prefixAdmin}/roles/recover/${aRole.id}`
                     ) Khôi phục
                     button(
                        class="btn btn-danger btn-sm ml-1" 
                        button-delete-permanent=`/${prefixAdmin}/roles/delete-permanent/${aRole.id}`
                     ) Xoá vĩnh viễn


   +pagination-bar(pagination)