mixin pagination-bar(pagination)
   nav 
      ul(class="pagination justify-content-center")

         //-------------Prepare----------------//
         - const pagesShow = 7;
         - let startPage = 1;
         - let endPage = pagination.totalPage;

         - if (pagination.totalPage > pagesShow) 
            - startPage = pagination.currentPage - Math.floor(pagesShow / 2);
            - endPage = pagination.currentPage + Math.floor(pagesShow / 2);

            - if (startPage < 1) 
               - endPage = endPage + Math.abs(startPage) + 1;
               - startPage = 1;
            
            - if (endPage > pagination.totalPage) 
               - startPage -= (endPage - pagination.totalPage);
               - endPage = pagination.totalPage;

               - if (startPage < 1) 
                  - startPage = 1; // reset to 1 if it goes below
               
         //-------------End prepare----------------//


         //-------------Start paging----------------//
         - if (pagination.currentPage > 1)                     
            li(class="page-item")
               button(class="page-link" button-pagination=1) Trang đầu
            li(class="page-item")
               button(class="page-link" button-pagination=pagination.currentPage-1) Trang trước


         - if (startPage > 1)
            li(class="page-item disabled")
               button(class="page-link") ...         

         - if (startPage <= endPage)
            - for (let i = startPage; i <= endPage; i++)
               li( class=("page-item" + (pagination.currentPage == i ? " active" : "")) )
                  button(
                     class="page-link" 
                     button-pagination=i
                  ) #{i}

         - if (endPage < pagination.totalPage)
            li(class="page-item disabled")
               button(class="page-link") ...


         - if (pagination.currentPage < pagination.totalPage)
            li(class="page-item")
               button(class="page-link" button-pagination=pagination.currentPage+1) Kế tiếp
            li(class="page-item")
               button(class="page-link" button-pagination=pagination.totalPage) Trang cuối
               
         //-------------End paging----------------//