extends ../../layouts/default.pug

include ../../mixins/box-head.pug

block main
   .container.my-3
      .row
         .col-12
            +box-head("Giỏ hàng")

      .row
         .col-12
            table(class="table table-bordered")
               thead
                  tr
                     th STT
                     th Ảnh
                     th Tên
                     th Giá
                     th Số lượng
                     th Tổng tiền
                     th Hành động

               tbody
                  - if(cartDetail.products.length > 0)
                     each aProduct, index in cartDetail.products
                        tr
                           td #{index + 1}
                           td
                              img(
                                 src=aProduct.productInfo.thumbnail
                                 alt=aProduct.productInfo.title
                                 width="80px"
                              )

                           td
                              a(
                                 href=`/products/detail/${aProduct.productInfo.slug}`
                              ) #{aProduct.productInfo.title}

                           td #{aProduct.productInfo.priceNew}$
                           
                           td
                              input(
                                 type="number"
                                 name="quantity"
                                 value=aProduct.quantity
                                 min="1"
                                 item-id=""
                                 style="width: 60px"
                              )

                           td #{aProduct.totalPrice}$
                           
                           td
                              a(
                                 href=`/cart/delete/${aProduct.productId}`
                                 class="btn btn-danger"
                              ) Xóa
                  - else
                     p Chưa có sản phẩm nào trong giỏ hàng.
            
            
            - if(cartDetail.products.length > 0)
               h3(class="text-right") Tổng đơn hàng: #{cartDetail.totalPrice}$

               div(class="text-right mt-3")
                  a(href="/checkout" class="btn btn-success") TIẾN HÀNH THANH TOÁN